---
import Counter from "../components/solid/Counter.tsx";
import Counter2 from "../components/react/Counter2.tsx";
import Counter3 from "../components/svelte/Counter3.svelte";
---

<html lang="ja">
<head>
	<meta charset="utf-8"/>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
	<meta name="viewport" content="width=device-width"/>
	<meta name="generator" content={Astro.generator}/>
	<title>Astro</title>
</head>
<body>
	<h1>Astro</h1>
	<Counter client:load/>
	<Counter2 client:load/>
	<Counter3 client:load/>
</body>
</html>
