---
import CounterSolid from "../components/solid/Counter.tsx";
import CounterReact from "../components/react/Counter.tsx";
import CounterSvelte from "../components/svelte/Counter.svelte";
import CounterQwik from "../components/qwik/Counter.tsx";
---

<html lang="ja">
<head>
	<meta charset="utf-8"/>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
	<meta name="viewport" content="width=device-width"/>
	<meta name="generator" content={Astro.generator}/>
	<title>Astro</title>
</head>
<body>
	<h1>Astro</h1>
	<CounterSolid client:load/>
	<CounterReact client:load/>
	<CounterSvelte client:load/>
	<CounterQwik />
</body>
</html>
